<h3>Tile map</h3>

<mat-form-field>
  <mat-label>Tile Scale</mat-label>
  <mat-select [(value)]="scale" (selectionChange)="redraw()">
    <mat-option [value]="1">1x</mat-option>
    <mat-option [value]="2">2x</mat-option>
    <mat-option [value]="4">4x</mat-option>
    <mat-option [value]="6">6x</mat-option>
    <mat-option [value]="8">8x</mat-option>
  </mat-select>
</mat-form-field>

<mat-form-field>
  <mat-label>Rows</mat-label>
  <input matInput placeholder="rows" type="number" min="1" value="{{rows}}" (change)="changeRows($event)">
</mat-form-field>

<mat-form-field>
  <mat-label>Columns</mat-label>
  <input matInput placeholder="rows" type="number" min="1" value="{{cols}}" (change)="changeCols($event)">
</mat-form-field>

<mat-slide-toggle [(ngModel)]="showGridLines" (change)="redraw()">Show grid lines</mat-slide-toggle>

<div id="tile-map">
  <canvas #tileMapCanvas width="250" height="250" (click)="canvasClicked($event)"></canvas>
</div>

<div id="tile-editor">
  <app-tile-editor [sourceTile]="selectedTile" (tileChanged)="updateTile($event)"></app-tile-editor>
</div>
