<div [ngStyle]="{ 'height.px': 8 * scale, 'width.px': 8 * scale }" style="display: inline-block;">
    <div
      *ngFor="let _ of 8 | times; let row = index"
      [ngStyle]="{ 'height.px': scale + (editing ? 1 : 0), 'width.px': 8 * scale + (editing ? 8 : 0), 'margin-top.px': editing ? 1 : 0 }"
    >
      <span
        *ngFor="let __ of 8 | times; let col = index"
        [ngStyle]="{ 'height.px': scale, 'width.px': scale, 'margin-right.px': editing ? 1 : 0, 'background': getColor(pixelData[(row * 8) + col])}"
        style="display: inline-block;"
        (click)="modifyPixel(row * 8 + col)"
      ></span>
    </div>
</div>
