<div>
  <span class="color selected" style="background: {{getColor(monoPalette.color0)}}" (click)="selectColor(monoPalette.color0, $event)"></span>
  <span class="color" style="background: {{getColor(monoPalette.color1)}}" (click)="selectColor(monoPalette.color1, $event)"></span>
  <span class="color" style="background: {{getColor(monoPalette.color2)}}" (click)="selectColor(monoPalette.color2, $event)"></span>
  <span class="color" style="background: {{getColor(monoPalette.color3)}}" (click)="selectColor(monoPalette.color3, $event)"></span>
</div>
