<div style="text-align: center;">
  <h3>Tile Editor</h3>
  <p *ngIf="!sourceTile">Click a tile on the tile map to edit!</p>

  <ng-container *ngIf="sourceTile">
    <app-tile
      [scale]="scale"
      [pixelData]="sourceTile.pixels"
      [editing]="true"
      (pixelChanged)="changePixel($event)"
      style="display: block;"
    ></app-tile>
    <mat-slider min="2" max="40" step="2" [thumbLabel]="true" [displayWith]="formatLabel" [(ngModel)]="scale"></mat-slider>
    <p>palette swatch should go here</p>
  </ng-container>
</div>
