<div style="text-align: center;">
  <h3>Tile Editor</h3>
  <p *ngIf="!sourceTile">Click a tile on the tile map to edit!</p>

  <canvas #tileCanvas width="250" height="250" (click)="canvasClicked($event)"></canvas>

  <ng-container *ngIf="sourceTile">
    <mat-slider
      min="2"
      max="40"
      step="2"
      [thumbLabel]="true"
      [displayWith]="formatLabel"
      [(ngModel)]="scale"
      (change)="drawPixels()"
    ></mat-slider>
    <app-palette-swatch (colorSelected)="changeColor($event)"></app-palette-swatch>
  </ng-container>
</div>
